:root {
    --blanco: #ffffff;
    --negro: rgb(0, 0, 0);
    --violeta: #c87bc3;
    --claro: #dec7f1;

}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
}

h1 {
    color: rgb(19, 20, 20);
    text-align: center;
    font-size: 3.8rem;
    font-family: "Playfair Display", serif;
    font-style: normal;
}

span {
    font-size: 2rem;
}

.contenedor {
    width: 100rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--violeta);
}

.navegacion-principal {
    display: flex;
      flex-direction: column;
     
      font-size: 2rem;
  
}
@media (min-width: 768px){
.navegacion-principal {
    flex-direction:row;
     justify-content: space-between;
}
};
.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color:var(--claro);
    color: var(--negro);
}
.fechaTarea {
    font-size: 0.8em;
    color: gray;
    margin-top: 4px;
  }
  
.hero {
background-image: url(../image/hero.jpg);
background-repeat: no-repeat;
background-size: cover;
};